div.home-div {
    margin : 4%;
    display : inline-block
}

button.add-task-btn {
    margin: 1%;
    position: absolute;
    top: 6%;
}

button.view-all-tasks-btn {
    margin: 1%;
    position: absolute;
    top: 10%;
}

div.toggling-components-div {
    display: inline-block;
    margin-left: 15%;
    margin-top: 5%;
}

form.add-task-form {
    margin-top: 5%;
}

button.add-todo-btn {
    margin-left: 5%;
}

button.save-btn {
    margin-left: 35%;
    margin-top: 3%;
}

div.todo-card-container {
    background-color: yellowgreen;
    padding: 1%;
    width: 300px;
    height: 60px;
}

div.whole-card-div {
    background-color: yellow;
    height: 300px;
    overflow: scroll;
}

h5.todo-desc-h5 {
    display: inline-block;
    text-align: center;
    margin-left: 2%;
}

button.delete-todo {
    display: inline-block;
    text-align: end;
}

button.delete-task {
    text-align: center;
    margin: 2%;
}

h2.task-title {
    margin: 2%;
}

div.add-task-container {
    margin-left: 50%;
}

input.task-title-input {
    margin: 2%;
}